html,
body {
    margin: 0;
    height: 100%;
    text-align: center;
    color: white;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100%;

    background: url('./background.jpg');
    background-size: cover;
}

main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card>img {
    height: 350px;
}